name: swipe_up_menu
description: A side menu who appears when you swipe up or down in side of the screen to full screen apps.
homepage: https://github.com/rod90ad/swipe_up_menu
version: 0.1.3

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:

flutter: